<nav class="d-flex navbar fixed-top navbar-light navbar-expand-lg bg-light bg-white shadow pt-1 pb-1 pl-1 pr-1">
  <div class="nav-brand mr-auto">
    <h1 class="heading h3"><span class="logo">{{logo}} </span><span class="title">{{title}}</span></h1>
  </div>
  <!-- <div class="profile">
    <span class="name d-none d-sm-inline-flex">Hey, Callie </span>
    <img src="https://pbs.twimg.com/profile_images/952318165941477376/e-3MyGW3.jpg" alt=""
      class="ml-1 rounded-circle border">
  </div> -->
</nav>