<div class="row">
  <div class="col-12">
    <div class="section-header align-items-center">
      <h2 class="trend h4 bold"><span class="icon"><i class="fc_fire"></i></span> <span
          class="trend pl-1">{{kpiinfo}}</span> </h2>
      <ul class="list-inline list-unstyled pl-2  mb-0">
        <li class="list-inline-item" *ngFor="let item of tech_stack"><a
            [ngClass]="lang===item.value?'badge badge-pill badge-secondary':'badge'"
            (click)="onSelectionChange(item.value)"><i
              [ngClass]="lang===item.value?'selected_icon fc_react': item.className"></i><span class="icon-text">
              {{item.value}}</span></a></li>

      </ul>
    </div>
  </div>
</div>

<div class="row pt-3">
  <div class="col-12">
    <div class="card-deck" id="gauge-wrapper">
      <div class="card card-bordered shadow-lg">
        <div class="card-body" id="quality">
          <fusioncharts width="100%" height="300" type="doughnut2d" dataFormat="JSON" [dataSource]="quality_data"
            dataEmptyMessage="Loading data please wait...">
          </fusioncharts>
        </div>
      </div>
      <div class="card card-bordered shadow-lg">
        <div class="card-body" id="popularity">
          <fusioncharts width="100%" height="300" type="doughnut2d" dataFormat="JSON" [dataSource]="popularity_data"
            dataEmptyMessage="Loading data please wait...">
          </fusioncharts>
        </div>
      </div>
      <div class="card card-bordered shadow-lg">
        <div class="card-body" id="score">
          <fusioncharts width="100%" height="300" type="doughnut2d" dataFormat="JSON" [dataSource]="score_data"
            dataEmptyMessage="Loading data please wait...">
          </fusioncharts>
        </div>
      </div>
    </div>
  </div>
</div>

<hr style="margin-top: 5rem;">